.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}
.titlebar{
    text-align: left;
}
.PlayerName {
    display:inline-block;
}
.playerImg, .playerInfo{
    display:inline-block;
}
#playerStats{
    vertical-align: top;
    border-bottom: 1px lightgrey solid;
}
.playerInfo div{
    display: inline-block;
    
}
.p_info{
    margin-top: 10px;
}
.p_info_l{
    border-right: 1px lightgrey solid;
}
.playerImg{
    display:inline-block;
    max-width: 125px;
    max-height: 125px;
    height: auto;
    width: auto;
}
.playerpos{
    display: inline-block;
}
.remove{
    float: right;
}

